.Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 5rem;
    height: 100vh;
}


img {
    max-width: 100%;
    height: auto;
}

.Intro-text{
    max-width: 45%;
    height: auto;
    text-align: justify;
    margin-bottom: 10vh;
}

.Intro-text h1{
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 5vh;
    margin-top: 10vh;
}

.Intro-text p {
    font-size: 16px;
}

footer {
    padding: 2rem 5rem;
    color: var(--text-dark-2);
    font-weight: 600;
}