<main>
  <div class="Container">
    <img src="assets/profile-pic-portfolio.png" alt="Profile Picture" />

    <section class="Intro-text">
      <h1>Hello there,</h1>
      <p class="description">
        Apaixonada por desenvolvimento web e design desde os 17 anos, brasileira
        e nascida em 2001. Sou uma Desenvolvedora FullStack dedicada a criar
        soluções completas e eficientes para clientes e usuários. Tenho
        experiência em desenvolvimento de aplicações web, desde a criação de
        interfaces do usuário responsivas e dinâmicas até a configuração de APIs
        e conexão com banco de dados. Sou capaz de trabalhar em equipe,
        colaborar com outros desenvolvedores e solucionar problemas de forma
        eficaz. Estou sempre em busca de novos desafios e oportunidades para
        crescer profissionalmente e contribuir para projetos inovadores e de
        impacto. Determinação, resiliência, constante busca por conhecimento,
        empatia, atitude de dono, proatividade, adaptabilidade, comunicação,
        inteligência emocional e muito amor por tudo que faço complementam meu
        perfil pessoal e profissional.
      </p>
      <p>
        
        </p>
    </section>
  </div>

  <footer>
    <p class="location"><i>São Paulo, SP - Brasil</i></p>
  </footer>
</main>
