.Container {
    padding: 5rem 8rem;
    height: 100vh;
    will-change: transform, opacity;
    /* overflow: hidden;
    max-width: max-content; */
}

.intro h1 {
    font-weight: 800;
    color: var(--text-dark);
    font-size: 72px;
    margin: 10rem 0 10px 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.description p {
    font-weight: 300;
    font-size: 20px;
    color: var(--text-dark-2);
    margin: -5px 0px 18px 0px;
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

@media (max-width: 768px){

    .Container {
        padding: 2rem 4rem;
    }

    .intro h1 {
        font-size: 48px;
        text-align: left;
    }

    .description p {
        font-size: 18px;
        text-align: left;
    }
}