.Container {
    /* display: flex;
    flex-direction: column; */
    padding: 2rem 5rem;
    height: 100vh;
}

.intro h1 {
    font-weight: 800;
    color: var(--text-dark);
    font-size: 72px;
    margin: 10rem 0 10px 0;
    font-family: "Montserrat", sans-serif;
}

.description p {
    font-weight: 300;
    font-size: 20px;
    color: var(--text-dark-2);
    margin: -5px 0px 18px 0px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    cursor: pointer;
}

@media (max-width: 768px){
    .intro h1 {
        font-size: 48px;
    }

    .description {
        font-size: 18px;
    }
}