.Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 7rem;
    height: auto;
    gap: 5rem;
    /* margin-top: 20vh; */
}

.SkillComponent h1 {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 5vh;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 2rem 0rem;
}

.Cards{
    width: 100%;
    height: fit-content;
    background: var(--bg-transparent);
    border-radius: 30px;
    padding: 1.75rem;
    margin-bottom: 2.5rem;
    -webkit-box-shadow: 6px 4px 10px 0px rgba(81,81,109,0.22);
    -moz-box-shadow: 6px 4px 10px 0px rgba(81,81,109,0.22);
    box-shadow: 6px 4px 10px 0px rgba(81,81,109,0.22);
    
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1.75rem;
}

.Tecnologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 1rem;
    max-width: 100%;

}

.tecnology{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 10px;

    p {
        margin: 0 10px 0;

    }
    

}

.Softwares {
    padding: 1rem;
}

.personal-skills {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


.personal-skills .skills{
    width: 100%;
}

.Languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 1rem;
}

.language{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 10px;
    gap: 5px;
    width: 100%;
}

.software-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 10px;
    gap: 5px;
    width: 100%;
}



.right-section{
    display: flex;
    flex-direction: column;
    width: 80%;
}

@media (max-width: 768px){
    .Container{
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
    }
    .SkillComponent h1 {
        font-size: 48px;
    }

    .Tecnologies {
        max-width: fit-content;
    }

    .tecnology {
        max-width: 100%;
    }

    .language {
        width: 50%;
    }

    app-progress-bar {
        width: 10px;
    }

    .right-section{
        width: 100%;
    }
}

