/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

:root {
    --bg-primary: #DDE4F5;
    --bg-secondary: #CBCBDE;
    --bg-transparent: #dde4f5b2;
    --bg-purple: #6228C2;
    --bg-blue: #1918E2;
    --bg-orange: #FF3214;
    --text-dark: #1B1B21;
    --text-dark-2: #51516D;
    --text-light: #f0f3fc;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html, body {
    font-family:  'Roboto', sans-serif;
    color: var(--text-dark);
    max-width: 100vw;
}