/* You can add global styles to this file, and also import other style files */
:root {
    --bg-primary: #DDE4F5;
    --bg-secondary: #CBCBDE;
    --text-dark: #1B1B21;
    --text-dark-2: #51516D;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html, body {
    font-family:  'Roboto', sans-serif;
    max-width: 100vw;
    /* overflow-x: hidden; */
}