<main class="Container">
    <h1>Meus Projetos</h1>

    <section class="Projects">
        <section class="Project-Card">
            <a href="https://github.com/gabriella-guimaraes/Livreiro" target="_blank">
                <img src="assets/livreiro_snapshoot.png" />
                <section class="Project-description">
                    <h2>Assistente Virtual - Livreiro</h2>
                    <p>Esse projeto foi proposto pela Laboratoria, com o objetivo de desenvolver um produto no ramo de entreterimento utilizando APIs. O Livreiro foi o produto desenvolvido durante os dois dias de Hackathon. Uma pesquisa sobre o mercado de livros revelou um problema recorrente na experiência dos frequentadores de livrarias, relacionado à falta de autonomia para encontrar informações sobre os produtos desejados e à demora no atendimento presencial. Em resposta, desenvolvemos o assistente virtual Livreiro, direcionado às livrarias, que permite aos clientes pesquisar informações diretamente e verificar a disponibilidade dos produtos na loja, proporcionando uma solução para esses desafios.</p>
                    <section class="badges">
                        <span class="badge">HTML</span>
                        <span class="badge">CSS</span>
                        <span class="badge">JAVASCRIPT</span>
                    </section>
                
                </section>
            </a>
        </section>

        <section class="Project-Card">
            <a href="https://github.com/gabriella-guimaraes/SAP005-social-network" target="_blank">
                <img src="assets/should_I_watch_snapshoot.png" />            
                <section class="Project-description">
                    <h2>Rede Social - Should I Watch?</h2>
                    <p>"Should I Watch?" é uma rede social voltada principalmente ao público jovem e que tem como objetivo ajudá-los a escolher o que assistir entre as milhares de opções dos catálogos dos serviços de streaming. A ideia é que o usuário compartilhe, por meio de posts curtos e diretos, quais foram suas impressões sobre os últimos filmes e séries assistidos.</p>
                    <section class="badges">
                        <span class="badge">HTML</span>
                        <span class="badge">CSS</span>
                        <span class="badge">JAVASCRIPT</span>
                        <span class="badge">FIREBASE</span>
                    </section>
                </section>
            </a>
            
            
        </section>
    </section>
</main>

<!-- To-do
- Redirecionamentos: repositório + link da aplicação
- Navegações na página
- Footer + links rápidos -->
