<main class="Container">
    <section class="timeline-card">
        <h2>Experiência Profissional</h2>

        <section class="xp_container">
            <!-- Experiencia 1 -->
            <div class="dot"></div>
            <h3>Analista de Desenvolvimento Jr no Safra</h3>
            <span>Maio 2021 - Dezembro 2022</span>
            <p>O Safra é um dos maiores bancos privados da América Latina, com mais de 160 sedes espalhadas pelo mundo e impactando diariamente a vida de milhões de pessoas. Atuei no squad de Renda Variável que pertence a área de Corretora do Banco. Como Analista de Desenvolvimento minhas responsabilidades incluíram desenvolvimento de novas features para sistemas da corretora, manutenção e sustentação para a Corretora e Renda Variável. Neste período pude desenvolver noções de negócio e processos bancários, aprimorando o senso crítico e atitude de dono. Além disso, participei de treinamentos internos do Banco voltados para boas práticas de código e desenvolvimento seguro.</p>
            <p><strong>Tecnologias:</strong> HTML, CSS, Angular, Material UI, Bootstrap, Typescript, Sql, Oracle, .Net, ASP Net, Jenkins, Jest.</p>
        </section>

        <section class="xp_container">
            <div class="dot"></div>
            <h3>Web Designer</h3>
            <span>Agosto 2018 - Setembro 2019</span>
            <p>Como Web Designer freelancer, me dediquei à criação de projetos visuais, incluindo portfólios, artes conceituais, desenhos personalizados, logos e edições de imagens para redes sociais. Aprimorei minha capacidade analítica ao compreender as necessidades e desejos dos clientes, traduzindo conceitos abstratos em soluções visuais tangíveis. Essa jornada não só refinou minhas habilidades técnicas, mas também moldou minha abordagem em relação às demandas do universo criativo.</p>
            <p><strong>Tecnologias:</strong> Pacote Adobe, PowerPoint,  Clip Studio, Figma.</p>
        </section>
    </section>
</main>
